<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Login Form</h1>

    <form action="#" method="post" th:action="@{/login/doLogin}" th:object="${loginModel}">
        <table>
            <tr>
                <td>User Name:</td>
                <td>
                    <input th:field="*{username}" type="text"/>
                    <h5 style="color:red" th:errors="*{username}"
                        th:if="${#fields.hasErrors('username') and #fields.errors('*').size() > 0}">Username Error</h5>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input th:field="*{password}" type="text"/>
                    <h5 style="color:red" th:errors="*{password}"
                        th:if="${#fields.hasErrors('password') and #fields.errors('*').size() > 0}">Password Error</h5>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Submit"/>
                </td>
            </tr>
        </table>
        <div th:if="${#fields.hasErrors('*')}">
            <h5 style="color:red">List of Errors</h5>
        </div>
        <div th:each="err : ${#fields.errors('*')}">
            <span class="fieldError" style="color: red" th:text="${err}"></span>
        </div>
    </form>
</div>
</body>
</html>
